body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
}


/* --------------First layer------------------------------- */

nav {
    display: flex;
    border: 1px solid black;

    align-items: center;
    align-items: baseline;
}

nav strong {
    border: 3px solid green;
    flex: 1;
    font-size: 33px;
    padding-left: 100px;
}

nav ul {
    display: flex;
    border: 3px solid red;
    flex: 1;
    list-style: none;
    font-size: 22px;
    justify-content: flex-end;
    gap: 16px;
    padding-right: 100px;
    cursor: pointer;
    
}

@media only screen and (max-width:768px) {

    nav {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    
    }

    nav strong {
        align-self: center;
        padding: 0;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
}

/* --------------------Second layer---------------------------- */


.layer-two {
    display: flex;
    border: 2px solid red;
    padding: 50px;
    
}

.layer-two .left-side {
    border: 2px solid green;
    flex-basis: 50%;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    padding: 20px;
    
}

.layer-two .left-side p {
    font-size: 24px;
}

.layer-two .left-side button {
    margin-top: 10px;
    padding: 15px;
    align-self: flex-end;
}

.layer-two .right-side {
    display: flex;
    border: 2px solid black;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:768px) {
    .layer-two {
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0;
    }
}

/* -----------------third layer------------------------------ */

.layer-three {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layer-three .bottom-side {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    gap: 16px;

}

.layer-three .bottom-side .container {
    border: 2px solid black;
}

.layer-three .bottom-side button {
    height: 200px;
    cursor: pointer;
    border-radius: 8px;
}

.layer-three .bottom-side sub {
    padding: 12px;
    
}

@media only screen and (max-width:768px) {
    .layer-three .bottom-side {
        flex-direction: column;
    }
}

/* ----------------fourth layer--------------------------------- */

.layer-four {
    display: flex;
    flex-direction: column;
    padding: 50px 100px 50px 100px;
    border: 2px solid green;
}

.layer-four p {
    font-size: 24px;
}

.layer-four strong {
    align-self: flex-end;
}

/* ------------------fifth layer------------------------------------- */


.layer-five {
    display: flex;
    padding: 100px;
    justify-content: center;
    border: 2px solid red;
}

.layer-five .container {
    display: flex;
    background-color: lightskyblue;
    flex-direction: row;
    padding: 25px 100px 25px 100px;
    gap: 32px;
}

.layer-five .container .left-side {
    display: flex;
    flex-direction: column;
    color: white;


}

.layer-five .container .left-side p {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 20px;

}

.layer-five .container .right-side {
    display: flex;
    align-self: flex-end;
    flex: 1;

    


}

.layer-five .container .right-side button {
    background-color: transparent;
    color: white;
    white-space: nowrap;
    font-size: 20px;
    border: 2px solid white;

    
}

@media only screen and (max-width:768px) {
    .layer-five .container {
        flex-direction: column;
        padding: 20px;
        gap: 16px;
    }

    .layer-five .container .right-side {
        align-self: center;     
    
        
    }

    .layer-five .container .right-side button {
        height: 50px;
        
    
    }

}