body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
}


/* --------------First layer------------------------------- */

nav {
    display: flex;
    background-color: #1f2937;
    color: white;
}

nav strong {
    display: flex;
    flex: 1;
    font: 24px #f9faf8;
    padding-left: 100px;
    align-items: center;
}

nav ul {
    display: flex;
    flex: 1;
    list-style: none;
    font: 18px #e5e7eb;

    justify-content: flex-end;
    gap: 16px;
    padding-right: 100px;

    
}

nav ul a {
    cursor: pointer;
}

@media only screen and (max-width:768px) {

    nav {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    
    }

    nav strong {
        align-self: center;
        padding: 0;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
}

/* --------------------Second layer---------------------------- */


.layer-two {
    display: flex;
    padding: 50px 100px 50px 100px;
    background-color: #1f2937;
    gap: 32px;
}

.layer-two .left-side {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;    
}

.layer-two .left-side strong {
    font-size: 48px;
    font-weight: bolder;
    color: #e5e7eb;
    display: flex;
}

.layer-two .left-side sub {
    font-size: 18px;
    color: #e5e7eb;
}

.layer-two .left-side button {
    margin-top: 10px;
    
    align-self: flex-start;
    background-color: #3882f6;
    font-size: 18px;
    color: #e5e7eb;
    border-radius: 8px;
    border-width: 0;
    padding: 10px 20px 10px 20px;
}

.layer-two .right-side {
    display: flex;
    flex-basis: 50%;
    height: 250px;
    background-color: #e5e7eb;
}

.layer-two .right-side img {
    width: 100%;
    height: 100%;
}


@media only screen and (max-width:768px) {
    .layer-two {
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0;
    }
    .layer-two .left-side button {
        align-self: auto;
    }
}

/* -----------------third layer------------------------------ */

.layer-three {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layer-three .bottom-side {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    gap: 16px;

}

.layer-three .bottom-side button {
    height: 200px;
    cursor: pointer;
    border-radius: 8px;
}

.layer-three .bottom-side sub {
    padding: 12px;
    
}

@media only screen and (max-width:768px) {
    .layer-three .bottom-side {
        flex-direction: column;
    }
}

/* ----------------fourth layer--------------------------------- */

.layer-four {
    display: flex;
    flex-direction: column;
    padding: 50px 100px 50px 100px;
}

.layer-four p {
    font-size: 24px;
}

.layer-four strong {
    align-self: flex-end;
}

/* ------------------fifth layer------------------------------------- */


.layer-five {
    display: flex;
    padding: 100px;
    justify-content: center;
}

.layer-five .container {
    display: flex;
    background-color: lightskyblue;
    flex-direction: row;
    padding: 25px 100px 25px 100px;
    gap: 32px;
}

.layer-five .container .left-side {
    display: flex;
    flex-direction: column;
    color: white;


}

.layer-five .container .left-side p {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 20px;

}

.layer-five .container .right-side {
    display: flex;
    align-self: flex-end;
    flex: 1;

    


}

.layer-five .container .right-side button {
    background-color: transparent;
    color: white;
    white-space: nowrap;
    font-size: 20px;
    border: 2px solid white;

    
}

@media only screen and (max-width:768px) {
    .layer-five .container {
        flex-direction: column;
        padding: 20px;
        gap: 16px;
    }

    .layer-five .container .right-side {
        align-self: center;     
    
        
    }

    .layer-five .container .right-side button {
        height: 50px;
        
    
    }

}

/* -------------------------sixth layer---------------------------- */

footer {
    display: flex;
    justify-content: center;
}

footer ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 16px;
    font-size: 22px;   
}

footer ul a {
    cursor: pointer;
}
@media only screen and (max-width:768px) {
    footer ul {
        flex-direction: column;
        align-items: center;
    }
}